mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

mat-drawer-container{
    height: 100%;
}

mat-drawer-content {
    height: 100%;
    width: 100%;
    background: red;
    display: block;
}

mat-drawer {
    height: 100%;
}

