/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form {
    max-width: 500px;
}

mat-form-field {
    width: 100%;
}

button {
    margin-right: 1rem!important;
}

.check-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.check-margin {
    margin: 0 10px;
}